NEXT_PUBLIC_SITE_URL=
BUSINESS_EMAIL=dhrubbaraili2.0@gmail.com
EMAIL_FROM=
BRAND_NAME=kids Toy
GOOGLE_SHEET_ID=
GOOGLE_SHEET_TAB_NAME=Sheet 1
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=secrets/kids-toy-service-account.json
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
EMAIL_SERVICE_API_KEY=
FRONTEND_URL=
